// Renklerrrrr ---------------------------
$background-main: #2B2B2B;
$background-secondary: #3B3B3B;
$text-caption: #858584;
$purple-main: #A259FF;  
// ---------------------------------------

// Yazı fontları -------------------------
$main-font: 'Work Sans', sans-serif;
$space-mono: 'Space Mono', monospace;
// ---------------------------------------
